<!doctype html>
<html lang="ja">

<head>
  <title>テンプレート | サイトのタイトル</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="テンプレートページの説明文" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:url" content="https://example.com/template/" />
  <meta property="og:site_name" content="サイトのタイトル" />
  <meta property="og:title" content="テンプレート | サイトのタイトル" />
  <meta property="og:description" content="テンプレートページの説明文" />
  <meta property="og:image" content="https://example.comassets/images/common/ogp.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="テンプレート | サイトのタイトル" />
  <meta name="twitter:url" content="https://example.com" />
  <meta name="twitter:description" content="テンプレートページの説明文" />
  <meta name="twitter:image" content="https://example.comassets/images/common/ogp.png" />
  <script src="/assets/scripts/vendor/what-input.min.js" async="true"></script>
  <script src="/assets/scripts/main.js" type="module"></script>
  <link rel="stylesheet" href="/assets/styles/style.css" />
  <link rel="stylesheet" href="/assets/styles/utilities.css" />
</head>

<body>
  <header>header</header>
  <main class="wrapper">
    <article>
      <h2>Picture Component</h2>
      <div class="" style="position:relative;width:100%;height:inherit"><span class="block sm:hidden" style="display:block;padding-top:75.0000%"></span><span class="hidden sm:block" style="display:block;padding-top:52.5000%"></span>
        <picture data-picure="">
          <source media="(max-width: 48.0515em)" srcset="/assets/images/dummy/sp_screenshot.png.webp, /assets/images/dummy/sp_screenshot@2x.png.webp 2x" type="image/webp" />
          <source media="(max-width: 48.0515em)" srcset="/assets/images/dummy/sp_screenshot.png, /assets/images/dummy/sp_screenshot@2x.png 2x" />
          <source srcset="/assets/images/dummy/screenshot.png.webp, /assets/images/dummy/screenshot@2x.png.webp 2x" type="image/webp" /><img src="/assets/images/dummy/screenshot.png" srcset="/assets/images/dummy/screenshot.png, /assets/images/dummy/screenshot@2x.png 2x" class="img" width="1200" height="630" alt="" decoding="async" />
        </picture>
      </div>
      <div class="" style="position:relative;width:100%;height:inherit"><span class="" style="display:block;padding-top:52.5000%"></span>
        <picture data-picure="">
          <source srcset="/assets/images/common/ogp.png.webp, /assets/images/common/ogp@2x.png.webp 2x" type="image/webp" /><img src="/assets/images/common/ogp.png" srcset="/assets/images/common/ogp.png, /assets/images/common/ogp@2x.png 2x" class="img" width="1200" height="630" alt="" decoding="async" />
        </picture>
      </div>
    </article>
  </main>
  <footer class="wrapper">footer</footer>
</body>

</html>